

html {
  font-size: 4px ;
}
body{
  background-color: #10ac84; 
}
#main {
  margin: 30px 8px;
  padding: 60px;
  border-radius: 5px;
}
@media (max-width: 460px) {
  #margin {
    margin: 0;
  }
}
#title {
  font-family: sans-serif;
}
p {
  position: relative;
  top: -90px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 3px;
  margin: 30px;
  font-size: 20px;
  font-family:'Mulish',sans-serif;
  background-color: rgba(33,33,33,0.8);
}
#headline {
  position: relative;
  top: -160px;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-size: 40px;
}

#headline2 {
    position: relative;
    top: -160px;
    color: hsl(0deg, 0%, 100%);
    text-align: center;
    font-size: 40px;
    margin-bottom: -75px;
  }
hr {
  position: relative;
  top: -140px;
}
h1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-family: ;
  color: white;
  font-size: 70px;
  max-width: 100%;
  height: auto;
}
h2 {
  position: relative;
    top: -160px;
    color: white;
    text-align: center;
    font-size: 25px;
}
img {
  width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#img-div {
   position: relative;
   top: -140px;
   background: white;
   width:505px;
   padding: 10px;
   margin: auto;
}
#img-caption {
  font-size: 30px;
  text-align: center;
  margin: 15px 0 5px 0px;
}
#accomplishments {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  margin: 40px;
  font-family:'Mulish',sans-serif;
  background: rgba(0,0,0,0.7);
  border-radius: 3px;
}
@media (max-width: 725px) {
  img {
    width: 350px;
    margin: auto;
  }
  #img-div {
    margin: auto;
    width:350px;
  }
  #img-caption {
    font-size: 25px;
    text-align: center;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    position: relative;
    top: -130px;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  #headline {
    font-size: 30px;
  }
  p {
    margin: 0;
  }
  #accomplishments {
    margin: 0;
  }
  }
footer {
  position: relative;
  text-align: center;
  background-color: hsl(180deg, 50%, 50%);
  padding: 30px;
  font-family: monospace;
  font-size:20px;
  width: 600px;
  margin: auto;
  border-radius: 2px;
}
@media (max-width: 725px) {
  footer{
    margin-top: 50px;
    width: 300px;
  }
}